dir_to_ignore/__pycache__

airline0/db.sqlite3
airline0/airline/__pycache__/settings.cpython-313.pyc
airline0/airline/__pycache__/urls.cpython-313.pyc
airline0/flights/__pycache__/admin.cpython-313.pyc
airline0/flights/__pycache__/apps.cpython-313.pyc
airline0/flights/__pycache__/models.cpython-313.pyc
airline0/flights/__pycache__/urls.cpython-313.pyc
airline0/flights/__pycache__/views.cpython-313.pyc
airline0/flights/migrations/__pycache__/__init__.cpython-313.pyc
airline0/flights/migrations/__pycache__/0001_initial.cpython-313.pyc
airline0/flights/migrations/__pycache__/0002_auto_20200130_0152.cpython-313.pyc
airline0/flights/migrations/__pycache__/0003_passenger.cpython-313.pyc
airline0/users/__pycache__/admin.cpython-313.pyc
airline0/users/__pycache__/apps.cpython-313.pyc
airline0/users/__pycache__/models.cpython-313.pyc
airline0/users/__pycache__/urls.cpython-313.pyc
airline0/users/__pycache__/views.cpython-313.pyc
